 *{
  	box-sizing: border-box;
  	font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   }

  	h1{
  		font-size: 175%;
  		text-align: center;
      margin: 20px;
  	}

  	#box{
  		background-color: gray;
      border: 2px solid black;
      position: relative;
      padding: 10px;
      font-size: 125%;
      /*position: relative;*/
      /*right: 0px;*/
 		
  	}

  	div{
       padding: 15px;

  	}

    p{
      border: 2px solid black;
      text-align: center;
      width: 150px;

    }

  	#p1{
     	background-color: #A52A2A;
      font-size: 125%;
      position: absolute;
      top: 0px;
      right: 0px;

  	}
  	#p2{
  		background-color: #DEB887;
      font-size: 125%;
      position: absolute;
      right: 0px;
      top: 0px;
  	}
  	#p3{
  		background-color: #00FFFF;
      font-size: 125%;
      position: absolute;
      right: 0px;
      top: 0px;
  	}

section{
margin-top:50px; 
}
	/********* desktop view **********/
	@media(min-width: 992px){
		 .col-lg-4 {
			float: left;
		}
		.col-lg-4{
			width: 33%;
		}
		}

	/********** tablet view **********/
	@media (min-width: 768px) and (max-width: 991px) {
	  .col-md-6, .col-md-12 {
	    float: left;
	  }
	  .col-md-6 {
	    width: 50%;
	  }
	  .col-md-12 {
	    width: 100%;
	  }
	}
